.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    float: right;
    margin: 11px 30px;
    border: 0;
}
section.filters button:hover {
    opacity: 0.9;
}
.amenities, .location {
    height: 100%;
    width: 25%;
    float: left;
}

.location {
    border-right: 1px solid #DDDDDD;
}

.location h3, .amenities h3 
{
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 30px;
}
.location h4, .amenities h4 {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-left: 30px;
    margin-top: 0px;
}
